﻿@page
@model jeco_website.Pages.UserRoles.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<p><a asp-page="Create">Create New Role</a></p>
<p><a asp-page="Assign">Assign Role</a></p>

<table class="table">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                Roles
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Model.GetRoles(item).Result
                </td>
            </tr>
        }
    </tbody>
</table>
