﻿a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #ffffff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #ffffff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.media-body {
    flex-direction: column;
}

/*footer format*/
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0275d8;
    color: white;
    text-align: left;
    padding-top: 30px;
}


/*footer colors and styles*/
footer a {
    color: #ffffff;
    text-decoration: none;
}

    footer a:hover, footer a:focus {
        color: #8ec3e6;
        text-decoration: none;
    }


/*search bar formatting*/
.form {
    display: flex;
    flex-direction: row;
}

.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}


/*search button formatting*/
.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -45px;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    pointer-events: none;
    border: 0;
}


section, .container, .container-fluid {
    position: relative;
    word-wrap: break-word;
}

    section.landing {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

.header {
    margin-bottom: 2rem;
    font-size: 60px;
    line-height: 95%;
}

img.landing {
    width: 100%;
}

.col-lg {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
}

.col-12 {
    display: flex;
    width: 100%;
}

.col-lg-8 {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 66.6666666667%;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
    padding-left: 30px;
    padding-right: 30px;
}

h2 {
    word-break: break-word;
    word-wrap: break-word;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
