﻿.grid-container {
    display: grid;
    grid-template-columns: 250px 250px 250px; /*makes the grid smaller than container*/
    grid-template-rows: 250px 250px 250px;
    justify-content: center;
    grid-row-gap: 30px;
    grid-column-gap:30px;
    padding: 10px;
}

.grid-item {
    padding: 1px;
    font-size: 30px;
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.03);
}

.card-a {
    text-decoration: none;
    color: black;
}

.card-a:link {
    text-decoration: none;
    color: black;
}


.card-a:visited {
    text-decoration: none;
    color: black;
}


.card-a:hover {
    text-decoration: none;
    color: black;
}


.card-a:active {
    text-decoration: none;
    color: black;
}
