﻿@page
@model jeco_website.Pages.Contacts.CreateModel

@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="../wwwroot/css/home.css">

<body>

    <section class="landing">
        <div class="container-fluid">
            <div class="row align-items-center">
                <img class="landing" src="~/img/about.jpg" alt="about">
            </div>
        </div>
    </section>

    <section>
        <div>
            <h1 style="text-align:center"><strong>About JECO</strong></h1>
        </div>
        <div class="row">
            <div class="col-12 mb-md-0 mb-5">
                <div>
                    <h2>Our Mission</h2>
                    <p>
                        Here at JECO, we believe every animal deserves a happy life and a loving home. We are committed to
                        taking the best care of the animals that find their way to our shelter until they find their forever home.
                        Even though we're located in Westmoreland County, PA, we also help animals in Allegheny County, as well as in other nearby locations.
                        <br />Our shelter is not affiliated with any other organizations and we are completely funded by private donations.
                    </p>
                </div>
            </div>
        </div>
        <hr />


        <div class="row">
            <!--Contact-->
            <div class="col-9 mb-md-0 mb-5">
                <h2 class="h2 my-3">Contact us!</h2>

                <p class="w-responsive mx-auto mb-5">
                    Fill out the form below with any questions or comments you have about JECO or pet adoption and care.<br />Our team will get back to you as soon as possible!
                </p>


                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form mb-0 form-group">
                                <label asp-for="Contact.FullName" class="control-label">Name</label>
                                <input asp-for="Contact.FullName" class="form-control" />
                                <span asp-validation-for="Contact.FullName" class="text-danger"></span>
                            </div>
                        </div>

                        <!--Email-->
                        <div class="col-md-6">
                            <div class="md-form mb-0 form-group">
                                <label asp-for="Contact.Email" class="control-label">Email</label>
                                <input asp-for="Contact.Email" class="form-control" />
                                <span asp-validation-for="Contact.Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!--Subject-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0 form-group">
                                <label asp-for="Contact.Subject" class="control-label">Subject</label>
                                <input asp-for="Contact.Subject" class="form-control" />
                                <span asp-validation-for="Contact.Subject" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!--Message-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form form-group">
                                <label asp-for="Contact.Message" class="control-label">Message</label>
                                <input asp-for="Contact.Message" class="form-control" />
                                <span asp-validation-for="Contact.Message" class="text-danger"></span>
                            </div>

                        </div>
                    </div>

                    <!--Submit-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center text-md-left mb-4 mt-2 form-group">
                                <input type="submit" value="Submit" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!--Card with about info-->
            <div class="col-md-3 text-center">
                <div class="card text-center" style="background-color: #e3f2fd;">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <img src="~/img/jecoLogo.svg" width="100" height="100" alt="JECO logo">
                        <h4 class="my-3">JECO Animal Shelter</h4>
                        <p class="mb-3"><strong>Address</strong><br />JECO Animal Shelter<br>300 Fraser Purchase Road<br>Latrobe, PA 15650</p>
                        <p class="mb-3"><strong>Phone</strong><br />123-456-7890</p>
                        <p><strong>Email</strong><br />contact@jecoshelter.com</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>



@*<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contact.Email" class="control-label"></label>
                <input asp-for="Contact.Email" class="form-control" />
                <span asp-validation-for="Contact.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.FullName" class="control-label"></label>
                <input asp-for="Contact.FullName" class="form-control" />
                <span asp-validation-for="Contact.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Subject" class="control-label"></label>
                <input asp-for="Contact.Subject" class="form-control" />
                <span asp-validation-for="Contact.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Message" class="control-label"></label>
                <input asp-for="Contact.Message" class="form-control" />
                <span asp-validation-for="Contact.Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Created" class="control-label"></label>
                <input asp-for="Contact.Created" class="form-control" />
                <span asp-validation-for="Contact.Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

<div>
    <a asp-page="Index">Messages</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
