﻿@page
@model jeco_website.Pages.Contacts.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Message)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Created)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Contact.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to Messages</a>
    </form>
</div>
