﻿@page
@model jeco_website.Pages.Contacts.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Message)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Created)
        </dd>
        <dt></dt>
        <dd></dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to Messages</a>
</div>
