﻿@page
@model jeco_website.Pages.Contacts.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Contact.Id" />
            <div class="form-group">
                <label asp-for="Contact.Email" class="control-label"></label>
                <input asp-for="Contact.Email" class="form-control" />
                <span asp-validation-for="Contact.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.FullName" class="control-label"></label>
                <input asp-for="Contact.FullName" class="form-control" />
                <span asp-validation-for="Contact.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Message" class="control-label"></label>
                <input asp-for="Contact.Message" class="form-control" />
                <span asp-validation-for="Contact.Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Created" class="control-label"></label>
                <input asp-for="Contact.Created" class="form-control" />
                <span asp-validation-for="Contact.Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to Messages</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
