﻿@page
@model jeco_website.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "JECO";
}

<h1>Admin Dashboard</h1>

<div class="container">
    <div class="row d-flex justify-content-center p-4">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="~/img/users.png" alt="Members image">
                <div class="card-body">
                    <h5 class="card-title">Members</h5>
                    <p class="card-text">Modify, delete, and view the details of JECO users.</p>
                    <a asp-page="../Members/Index" class="btn btn-primary">View Members</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="~/img/inquiries.png" alt="Inquiries image">
                <div class="card-body">
                    <h5 class="card-title">Inquiries</h5>
                    <p class="card-text">View, modify, and delete pending or previous pet inquiries.</p>
                    <a asp-page="../Inquiries/Index" class="btn btn-primary">View Inquiries</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="~/img/mail.png" alt="Mail image">
                <div class="card-body">
                    <h5 class="card-title">Contact Forms</h5>
                    <p class="card-text">Delete and view the details of messages made via the contact form.</p>
                    <a asp-page="../Contacts/Index" class="btn btn-primary">View Forms</a>
                </div>
            </div>
        </div>
    </div>
</div>