﻿@page
@model IndexModel
@{
	ViewData["Title"] = "JECO";
}

<!-- Landing -->
<section class="landing">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-12 col-lg-8">
				<div class="image-wrapper">
					<img class="landing" src="~/img/shelter.jpg" alt="">
				</div>
			</div>
			<div class="col-12 col-lg">
				<div class="content_box">
					<h1 class="header"><strong>Find your perfect match.</strong></h1>
					<p class="pb-1">
						At JECO, we believe all animals deserve a loving home.
						<br>View our list of dogs, cats, and other pets waiting for a forever family!<br>
					</p>
					<a class="btn btn-primary" asp-area="" asp-page="/Pets/Index">Take a look</a>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Featured Pet List -->
<section>
	<div class="container">
		<div class="row">
			<div class="title col-12 col-md-12 col-lg-6">
				<div class="title-box pt-5 pb-3">
					<h2 class="align-left"><strong>Featured Pets</strong></h2> <!-- Featured Pet Header -->
				</div>
			</div>
		</div>
		<!-- Individual pet profiles -->
		<div class="row  pb-5">
			<div class="col-3">
				<div class="card">
					@if (Model.Pet.Count > 0)
					{
						<img class="card-img-top" src="~/img/Pets/@Model.Pet[0].Filename" alt="@Model.Pet[0].Name">
						<div class="card-body">
							<h4 class="card-title">@Model.Pet[0].Name</h4>
							<p class="card-text">@Model.Pet[0].Description</p>
							<a href="https://jecoanimalshelter.com/dogs/durango" class="btn btn-light" style="margin-top: auto">Meet @Model.Pet[0].Name</a>
						</div>
					}
				</div>
			</div>
			<div class="col-3">
				<div class="card">
					@if (Model.Pet.Count > 1)
					{
						<img class="card-img-top" src="~/img/Pets/@Model.Pet[1].Filename" alt="@Model.Pet[1].Name">
						<div class="card-body">
							<h4 class="card-title">@Model.Pet[1].Name</h4>
							<p class="card-text">@Model.Pet[1].Description</p>
							<a href="https://jecoanimalshelter.com/dogs/finnigan" class="btn btn-light" style="margin-top: auto">Meet @Model.Pet[1].Name</a>
						</div>
					}
				</div>
			</div>
			<div class="col-3">
				<div class="card">
					@if (Model.Pet.Count > 2)
					{
						<img class="card-img-top" src="~/img/Pets/@Model.Pet[2].Filename" alt=@Model.Pet[2].Name>
						<div class="card-body">
							<h4 class="card-title">@Model.Pet[2].Name</h4>
							<p class="card-text">@Model.Pet[2].Description</p>
							<a href="https://jecoanimalshelter.com/cats/dolly" class="btn btn-light" style="margin-top: auto">Meet @Model.Pet[2].Name</a>
						</div>
					}
				</div>
			</div>
			<!-- Card for "more pets" -->
			<div class="col-3">
				<div class="card text-center" style="background-color: #e3f2fd;">
					<div class="card-body d-flex align-items-center justify-content-center">
						<img src="~/img/jecoLogo.svg" width="100" height="100" alt="JECO logo">
						<h2 class="card-title py-3">Meet more adoptable pets!</h2>
						<a class="btn btn-primary" asp-area="" asp-page="/Pets/Index">All Pets</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>