﻿.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.media-body {
    flex-direction: column;
}

/*footer format*/
.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0275d8;
    color: white;
    text-align: left;
    padding-top: 30px;
}


/*footer colors and styles*/
footer a {
    color: #ffffff;
    text-decoration: none;
}

    footer a:hover, footer a:focus {
        color: #8ec3e6;
        text-decoration: none;
    }


/*search bar formatting*/
.form {
    display: flex;
    flex-direction: row;
}

.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}


/*search button formatting*/
.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -45px;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    pointer-events: none;
    border: 0;
}