﻿@page
@model jeco_website.Pages.Inquiries.CreateModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Inquire about @Html.DisplayFor(model => model.Pet.Name)</h2>
<p>Send us your email and the name of the pet you are looking to adopt and we will reach out to you with the next steps!</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Inquiry.Status" class="control-label">Email</label>
                <input asp-for="Inquiry.Status" class="form-control" value="@User.Identity.Name" />
                <span asp-validation-for="Inquiry.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inquiry.PetName" class="control-label">Pet</label>
                <input asp-for="Inquiry.PetName" class="form-control" value="@Model.Pet.Name" />
                <span asp-validation-for="Inquiry.PetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
