﻿@page
@model jeco_website.Pages.Inquiries.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Inquiry</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inquiry.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inquiry.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inquiry.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inquiry.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Inquiry.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
