﻿@page
@model jeco_website.Pages.FAQ.IndexModel
@{
}
<link rel="stylesheet" href="../wwwroot/css/home.css">

<body>

    <section class="landing">
        <div class="container-fluid">
            <div class="row align-items-center">
                <img class="landing" src="~/img/faq.jpg" alt="faq banner">
            </div>
        </div>
    </section>


    <div>
        <h1 style="text-align:center"><strong>Adoption FAQ</strong></h1>
        <p class="pt-3" style="text-align:center">
            Read all about pet adoption and JECO's answers to the most frequently asked questions about the process.
        </p>
        <div class="row pt-3">
            <div class="col-9">
                <button class="accordion">What does it cost to adopt from a shelter?</button>
                <div class="panel">
                    <p>Generally speaking, fees range between $25 and $250. Sometimes pets are free if there is a special promotion going on; occasionally they will cost more.</p>
                </div>

                <button class="accordion">How soon can I take my new pet home with me?</button>
                <div class="panel">
                    <p>
                        Once your application is approved and an appropriate match is made,
                        you will meet with JECO’s counselors. They will review information about your pet’s diet,
                        house-training, exercise, veterinary care, manners, and behavior training, and help get you started with your new companion.
                    </p>
                </div>

                <button class="accordion">Are there any age requirements to adopt a pet?</button>
                <div class="panel">
                    <p>You must be at least 21 years of age to adopt an animal from JECO.</p>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center" style="background-color: #e3f2fd;">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <img src="~/img/jecoLogo.svg" width="100" height="100" alt="JECO logo">
                        <h4 class="card-title py-3">Contact us with any additional questions regarding pet adoption!</h4>
                        <a class="btn btn-primary" asp-area="" asp-page="/Contacts/Create">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display == "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
</body>