﻿@page
@model jeco_website.Pages.Pets.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Pet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pet.Name" class="control-label"></label>
                <input asp-for="Pet.Name" class="form-control" />
                <span asp-validation-for="Pet.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Description" class="control-label"></label>
                <input asp-for="Pet.Description" class="form-control" />
                <span asp-validation-for="Pet.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Species" class="control-label"></label>
                <input asp-for="Pet.Species" class="form-control" />
                <span asp-validation-for="Pet.Species" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Breed" class="control-label"></label>
                <input asp-for="Pet.Breed" class="form-control" />
                <span asp-validation-for="Pet.Breed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Birthdate" class="control-label"></label>
                <input asp-for="Pet.Birthdate" class="form-control" />
                <span asp-validation-for="Pet.Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Sex" class="control-label"></label>
                <input asp-for="Pet.Sex" class="form-control" />
                <span asp-validation-for="Pet.Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Filename" class="control-label"></label>
                <input asp-for="Pet.Filename" class="form-control" />
                <span asp-validation-for="Pet.Filename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
