﻿@page
@model jeco_website.Pages.Pets.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Species)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Species)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Breed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Breed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Birthdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Birthdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Sex)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Filename)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Filename)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.CreatedAt)
        </dd>*@
        <a class="btn btn-primary mt-3 mb-3" asp-page="/Inquiries/Create" asp-route-id="@Model.Pet.Id">Inquire about adoption!</a>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Pet.Id">Edit</a> |
    <a asp-page="../@Model.Pet.Category/Index">Back to List</a>
</div>
