﻿@page
@model jeco_website.Pages.Pets.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Pet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pet.Id" />
            <div class="form-group">
                <label asp-for="Pet.Name" class="control-label"></label>
                <input asp-for="Pet.Name" class="form-control" />
                <span asp-validation-for="Pet.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Description" class="control-label"></label>
                <input asp-for="Pet.Description" class="form-control" />
                <span asp-validation-for="Pet.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Species" class="control-label"></label>
                <input asp-for="Pet.Species" class="form-control" />
                <span asp-validation-for="Pet.Species" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Breed" class="control-label"></label>
                <input asp-for="Pet.Breed" class="form-control" />
                <span asp-validation-for="Pet.Breed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Birthdate" class="control-label"></label>
                <input asp-for="Pet.Birthdate" class="form-control" />
                <span asp-validation-for="Pet.Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Sex" class="control-label"></label>
                <input asp-for="Pet.Sex" class="form-control" />
                <span asp-validation-for="Pet.Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureUpload" class="control-label"></label>
                <input asp-for="PictureUpload" type="file" class="form-control" />
                <span asp-validation-for="PictureUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.CreatedAt" class="control-label"></label>
                <input asp-for="Pet.CreatedAt" class="form-control" />
                <span asp-validation-for="Pet.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Pet.Category/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
