﻿@page
@model jeco_website.Pages.Pets.IndexModel

@{
	ViewData["Title"] = "Index";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/petlists.css">

<h1>All Pets</h1>

<p>
	<a asp-page="Create">Create New</a>
</p>

@*Ellie's grid layout*@
<div class="grid-container">
	@foreach (var item in Model.Pet)
	{
		<div class="grid-item">
			<div class="card">
				<div class="embed-responsive embed-responsive-4by3">
				<img class="card-img-top embed-responsive-item" src="~/img/Pets/@item.Filename" alt=@item.Name>
					</div>
				<div class="card-body">
					<h4><a asp-page="./Details" asp-route-id="@item.Id" class=" card-a stretched-link">@item.Name</a></h4>
				</div>
			</div>
		</div>
	}
</div>