﻿@page
@model jeco_website.Pages.About.IndexModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="../wwwroot/css/home.css">

<body>

    <section class="landing">
        <div class="container-fluid">
            <div class="row align-items-center">
                <img class="landing" src="~/img/about.jpg" alt="about">
            </div>
        </div>
    </section>

    <section>
    <div>
        <h1 style="text-align:center"><strong>About JECO</strong></h1></div>
    <div class="row">
        <div class="col-12 mb-md-0 mb-5">
            <div>
                <h2>Our Mission</h2>
                <p>
                    Here at JECO, we believe every animal deserves a happy life and a loving home. We are committed to
                    taking the best care of the animals that find their way to our shelter until they find their forever home.
                    Even though we're located in Westmoreland County, PA, we also help animals in Allegheny County, as well as in other nearby locations.
                    <br />Our shelter is not affiliated with any other organizations and we are completely funded by private donations.
                </p>
            </div>
        </div>
    </div>
        <hr />

        <div class="row">

            <!--Grid column-->
            <div class="col-9 mb-md-0 mb-5">
                <h2 class="h2 my-3">Contact us!</h2>
                <p class="w-responsive mx-auto mb-5">
                    Fill out the form below with any questions or comments you have about JECO or pet adoption and care.<br />Our team will get back to you as soon as possible!
                </p>
                <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="name" name="name" class="form-control">
                                <label for="name" class="">Your name</label>
                            </div>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="email" name="email" class="form-control">
                                <label for="email" class="">Your email</label>
                            </div>
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <input type="text" id="subject" name="subject" class="form-control">
                                <label for="subject" class="">Subject</label>
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-12">

                            <div class="md-form">
                                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                <label for="message">Your message</label>
                            </div>

                        </div>
                    </div>
                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center text-md-left mb-4 mt-2">
                                <a class="btn btn-primary" style="color:white" onclick="document.getElementById('contact-form').submit();">Send</a>
                            </div>
                            </div>
                        </div>
                        <div class="status"></div>
                   </form>
            </div>

            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-3 text-center">
                <div class="card text-center" style="background-color: #e3f2fd;">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <img src="~/img/jecoLogo.svg" width="100" height="100" alt="JECO logo">
                        <h4 class="my-3">JECO Animal Shelter</h4>
                        <p class="mb-3"><strong>Address</strong><br />JECO Animal Shelter<br>300 Fraser Purchase Road<br>Latrobe, PA 15650</p>
                        <p class="mb-3"><strong>Phone</strong><br />123-456-7890</p>
                        <p><strong>Email</strong><br />contact@jecoshelter.com</p>
                    </div>
                </div>
            </div>
            <!--Grid column-->

        </div>
        </section>
</body>