﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/img/jecoLogo.svg" width="70" height="70" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <form asp-page="/Pets/Index" method="GET" class="form-inline my-2 my-1g-0 pr-2">
                        <input type="search" name="SearchString" placeholder="Search" class="form-control mr-sm-2" />
                        <button type="submit" class="search-button">
                            <img src="~/img/search.png" unclickable="on" />
                        </button>
                    </form>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Dogs/Index">Dogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Cats/Index">Cats</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/OtherPets/Index">Other Pets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/FAQ/Index">Adoption FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Contacts/Create">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <h5 class="pb-1" style="text-align:center">JECO Animal Shelter</h5>
            <div style="text-align:center" class="pb-1">
                <ul class="list-inline">
                    <li class="list-inline-item"><a asp-area="" asp-page="/Pets/Index">All Pets</a></li>
                    <li class="list-inline-item"><a asp-area="" asp-page="/Dogs/Index">Dogs</a></li>
                    <li class="list-inline-item"><a asp-area="" asp-page="/Cats/Index">Cats</a></li>
                    <li class="list-inline-item"><a asp-area="" asp-page="/OtherPets/Index">Other Pets</a></li>
                    <li class="list-inline-item"><a asp-area="" asp-page="/FAQ/Index">Adoption FAQ</a></li>
                    <li class="list-inline-item"><a asp-area="" asp-page="/Contacts/Create">About</a></li>
                </ul>
            </div>
        </div>
        <div style="text-align:center; font-size:13px"class="pb-3">
            JECO &copy; 2022 - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
