﻿@page
@model jeco_website.Pages.Pets.IndexModel

@{
	ViewData["Title"] = "Index";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/petlists.css">

<h1>Cats</h1>

<p>
	<a asp-page="../Pets/Create">Create New</a>
</p>

@*Ellie's grid layout*@
<div class="grid-container">
	@foreach (var item in Model.Pet)
	{
		@if ((item.Species) == "Cat")
		{
			<div class="grid-item">
				<div class="card">
                    <div class="embed-responsive embed-responsive-4by3">
                        <img class="card-img-top embed-responsive-item" src="~/img/Pets/@item.Filename" alt=@item.Name>
                    </div>
					<div class="card-body">
						<h4><a asp-page="../Pets/Details" asp-route-id="@item.Id" class="card-a stretched-link">@item.Name</a></h4>
					</div>
				</div>
			</div>
		}
	}
</div>


@*Christian's initial table*@
@*<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Pet[0].Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Pet[0].Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Pet[0].Species)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Pet[0].Breed)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Pet[0].Birthdate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Pet[0].Sex)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Pet[0].Filename)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Pet[0].CreatedAt)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Pet)
		{
			@if ((item.Species) == "Cat")
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Description)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Species)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Breed)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Birthdate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Sex)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Filename)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CreatedAt)
					</td>
					<td>
						<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
						<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
						<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>*@
